@model IEnumerable<ProductStoreMvc.Models.tbl_Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Product.CategoryName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.tbl_Product.UnitName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.ProductId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tbl_Product.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tbl_Product.UnitName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
    </td>
</tr>
}


</table>
